.container {
  margin-top: 66px;
}

.banner {
  border-radius: 29px;
  background: linear-gradient(90deg, #7286b4 0%, #e794ce 100%);
  height: 307px;
  justify-content: space-between;
}

.banner {
  display: flex;
}

.banner img {
  height: 366px;
  width: 532px;
  margin-top: -59px;
  margin-right: -50px;
}

.buynow {
  font-size: 68px;
  margin: 30px 92px;
  width: 666px;
  font-weight: 500;
}

.buynow button {
  width: 252px;
  height: 63px;
  color: #fff;
  background-color: #2e0052;
  border-radius: 30px;
  border: none;
  font-size: 27px;
}

.search {
  border-radius: 48px;
  border: 3px solid #c8c8c8;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  margin-top: 46px;
  gap: 10px;
}

.search img {
  height: 47px;
  width: 47px;
}

.search input {
  height: 43px;
  width: 100%;
  border: none;
  font-size: 33px;
}

.filterscontainer {
}

.dropdown {
  background-color: #d9d9d9;
  width: 250px;
  height: 52px;
  font-size: 23px;
}

.productdetails {
  padding: 20px;
}

.productdetails p {
  font-size: 26px;
  font-weight: 500;
  margin-top: 10px;
}

.productImageContainer {
  padding: 38px;
  background-color: #d4e5ff;
}

.productImageContainer img {
  width: 273px;
  height: 273px;
  background-color: #fff;
}

.detailsBtn {
  background-color: #2e0052;
  color: #fff;
  width: 150px;
  height: 48px;
  font-size: 25px;
  border-radius: 25px;
  margin-top: 16px;
  border: none;
}
